@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
hr{
    width: 80%;
    margin: auto;
    color: orange
}    
.hr-menu {
    width: 3rem;
    border: 1px solid saddlebrown;
}

.menu-open {
    text-align: center;
    width: 25%;
    display: none;
    border: 1px solid saddlebrown;
    background-color: whitesmoke;
    position:fixed;
    right: 10px;
    top: 10px;
}

.x-menu {
    font-size: 4.75rem;
    color: rosybrown;
    text-decoration:none;
    text-align: right;
    margin-right: 1.5rem;
    margin-top: -1rem;
    font-weight: 100;
}

.link-nuller{
    text-decoration: none;
    color: black;
}

.link-nuller:hover {
    text-decoration: none;
    color: saddlebrown;
}

.w-70-cent {
    width: 70%;
    margin: auto;
}

.gall-pic {
    height:30rem;
    border: 4.5px solid white;
    border-radius: 4px;
}

.gallery-div {
    border: 3.5px solid white;
    border-radius:5px;
    padding: 2rem;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #555;
	border-bottom: 25px solid transparent;
    margin: auto;
    margin-left: 1rem;
}

.triangle-left {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid lightgrey;
	border-bottom: 25px solid transparent;
    margin: auto;
    margin-right: 1rem;
}

</style>

<script src="~/javascript/index.js"></script>

<div>
        <div>
            <p style="margin-top:10rem;">Contact</p>
        </div>
</div>