@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script src="~/javascript/Home/MakeOrder.js"></script>

<style>

/*------General Styles-------*/
h1{
    font-size:4.5rem;
}

.ml-7{
    margin-left:7rem;
}

.mr-5{
    margin-right:4rem;
}

.w-70-cent {
    width: 70%;
    margin: auto;
}

.w-33 {
    width: 33.33%;
}

.link-nuller{
    text-decoration: none;
    color: black;
}

.link-nuller:hover {
    text-decoration: none;
    color: saddlebrown;
}

/*-------------*/
.gall-pic {
    height:30rem;
    border: 4.5px solid white;
    border-radius: 4px;
}

.example-pic {
    height:20rem;
    border: 4.5px solid white;
    border-radius: 4px;
}

.mo-menu-pics {
    height: 21rem;
}

.mo-right {
    margin-left:auto;
}

.gallery-div {
    border: 3.5px solid white;
    border-radius:5px;
    padding: 2rem;
}

.example-div {
    border: 3.5px solid white;
    background-color: rgba(255, 255, 255, .6);
    border-radius:5px;
    padding: 0.5rem;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #555;
	border-bottom: 25px solid transparent;
    margin: auto;
    margin-left: 1rem;
}

.triangle-left {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid lightgrey;
	border-bottom: 25px solid transparent;
    margin: auto;
    margin-right: 1rem;
}

</style>

<script src="~/js/Home/Index.js"></script>

<div>
@*    <div class="d-flex justify-content-between p-5" style="position:fixed;width:100%;top:0px;background-color:whitesmoke;height:10rem;">
        <img src="~/image/fmn_flower_logo.png" style="height:6rem;"/>
        <div style="text-align:center;font-family:serif;color:saddlebrown;margin:auto;">
            <div style="display:flex;">
                <h2 style="margin-right:1.5rem">F O R G E T</h2>
                <h2 style="margin-right:1.5rem">M E</h2>
                <h2>N O T</h2>
            </div>
            <div style="display:flex; justify-content:center; margin:auto;">
                <p style="margin-right:1rem">F L O R A L</p>
                <p>P R E S S</p>
            </div>
        </div>
        <div id="menuIconClosed" onclick="selectMenu()">
            <hr class="hr-menu" style="margin-bottom:0.75rem"/>
            <hr class="hr-menu" style="margin-bottom:0.75rem"/>
            <hr class="hr-menu" />
        </div>
        <div class="menu-open" id="menuIconOpen">
            <p class="x-menu" onclick="deselectMenu()">&times;</p>
            <div style="margin-bottom:3rem;">
                <a style="font-size:1.5rem;" class="link-nuller" asp-controller="Home" asp-action="Index">Home</a>
                <hr style="margin-bottom:1rem;margin-top:1rem;"/>
                <a style="font-size:1.5rem;" class="link-nuller" asp-controller="Home" asp-action="MakeOrder">Make an Order</a>
                <hr style="margin-bottom:1rem;margin-top:1rem;"/>
                <a style="font-size:1.5rem;" class="link-nuller" asp-controller="Home" asp-action="Gallery">Gallery</a>
                <hr style="margin-bottom:1rem;margin-top:1rem;"/>
                <a style="font-size:1.5rem;" class="link-nuller" asp-controller="Home" asp-action="Contact">Contact Info</a>
            </div>
        </div>*@


    </div>
    <div>
@*        <div style="margin-top:10rem;" class="d-flex">
            <img src="~/image/Cosmo_Crop.JPG" class="mo-menu-pics my-3 ml-5"/>
            <div style="width: 100%; margin-left:13rem;">
                <h1 style="margin-top:9rem;">Make</h1>
                <h1 style="margin-left:2rem;margin-top:3rem;">An</h1>
            </div>
            <img src="~/image//MariahAngle_Crop.jpg" class="mo-menu-pics mo-right mr-5"/>
        </div>
        <div class="d-flex">
            <img src="~/image/Wildflowers_Crop.jpg" class="mo-menu-pics my-3 ml-5"/>
            <h1 style="margin-left:20rem;margin-top:3rem;">Order</h1>
            <img src="~/image/WhiteRose_Crop.JPG" class="mo-menu-pics mo-right mr-5"/>
        </div> *@
        <div style="margin-top:10rem;" class="d-flex">
            <img src="~/image/Cosmo_SuperCrop.JPG" class="mo-menu-pics my-3 ml-7"/>
            <div style="width: 100%; margin-left:13rem;">
                <h1 style="margin-top:16rem;">Place An Order</h1>
            </div>
    @*        <img src="~/image//MariahAngle_Crop.jpg" class="mo-menu-pics mo-right mr-5"/>*@
        </div>
        <div class="d-flex">
            <img src="~/image/MariahAngle_SuperCrop.jpg" class="mo-menu-pics my-3 ml-7"/>
            <h3 style="margin-left:20rem;margin-top:1rem;">Follow the instructions below to create your custom piece</h3>
@*            <img src="~/image/WhiteRose_Crop.JPG" class="mo-menu-pics mo-right mr-5"/>*@
        </div> 

    </div>
    <hr class="mt-5"/>
    @*-----------Instructions-------------*@
    <div class="text-center my-5" style="width:63%; margin:auto;">
        <h1 style="font-size:3.2rem;">INSTRUCTIONS</h1>
        <h4 class="text-center mt-5" style="color: #438166;">Below there are 4 sections to make specifications on what you would like for your custom piece. Each section will help us to better understand how we can make your piece to your liking. Choose one option for each section, then press the "Get a Quote" at the bottom of the screen for an estimate on what the price of this piece will be.</h4>
        <h3 id="piece_type" class="mt-5"><a class="mx-3 link-nuller" href="#piece_type">Piece Type</a>  |  <a class="mx-3 link-nuller" href="#piece_design">Piece Design</a>  |  <a class="mx-3 link-nuller" href="#frame_type">Frame Type</a>  |  <a class="mx-3 link-nuller" href="#frame_size">Frame Size</a></h3>
    </div>
    <hr class="mt-5"/>
    <hr class="mt-5"/>
    @*-----------Piece Type-------------*@
    <div>
        <div class="text-center my-5">
            <h1 style="font-size:3.2rem;">PIECE TYPE</h1>
            <h4 style="color:#438166;margin-bottom:2.5rem;">Pick a type of piece you would like for your project.</h4>
        </div>
        <div class="d-flex px-5 py-4">
            <div class="text-center px-4 w-25">
                <h2>(%)</h2>
                <h2 class="pb-4 pt-3">Wedding Bouquets</h2>
                <p>"Write about the specific piece type and what is possible for the people who want to purchase this piece. 
                    Include anything that is good for them to know off the bat."</p>
            </div>
            <div class="text-center px-4 w-25">
                <h2>(%)</h2>
                <h2 class="pb-4 pt-3">Memorial Arrangments</h2>
                <p>"Write about the specific piece type and what is possible for the people who want to purchase this piece. 
                    Include anything that is good for them to know off the bat."</p>
            </div>
            <div class="text-center px-4 w-25">
                <h2>(%)</h2>
                <h2 class="pb-4 pt-3">Other Custom Pieces</h2>
                <p>"Write about the specific piece type and what is possible for the people who want to purchase this piece. 
                    Include anything that is good for them to know off the bat."</p>
            </div>
            <div class="text-center px-4 w-25">
                <h2>(%)</h2>
                <h2 class="pb-4 pt-3">Pre-Made Pieces</h2>
                <p id="piece_design">"Write about the specific piece type and what is possible for the people who want to purchase this piece. 
                    Include anything that is good for them to know off the bat."</p>
            </div>
        </div>
    </div>
    <hr class="mt-5"/>
    @*-----------Piece Design-------------*@
    <div>
        <div class="text-center my-5">
            <h1 style="font-size:3.2rem;">PIECE DESIGN</h1>
            <h4 style="color:#438166;margin-bottom:2.5rem;">Pick a type of piece you would like for your project.</h4>
        </div>
        <div class="d-flex px-5 py-4">
            <div class="text-center px-4 w-33">
                <img src="~/image/theField.png" style="height:10rem;" />
                <h2 class="pb-4 pt-3">The Field</h2>
                <p><i>The Field</i> design has all of the stems starting at the bottom of the frame and moving upward accross the length of the frame.</p>
                
            </div>
            <div class="text-center px-4 w-33">
                <img src="~/image/diagnalFinished.png" style="height:10rem;" />
                <h2 class="pb-4 pt-3">Diagonal</h2>
                <p>The <i>Diagonal</i> design starts with blooms and stems in one corner of the frame and continues to the opposite corner. </p>
                    <button id="diagonalButton" onclick="openDesignExamples()">View Examples</button>
            </div>
            <div class="text-center px-4 w-33">
                <img src="~/image/middleSpreadOut.png" style="height:10rem;" />
                <h2 class="pb-4 pt-3">Middle Spread Out</h2>
                <p>The <i>Middle Spread Out</i> design contains blooms in the middle of the frame that take up the majority of the space, with stems protruding from the centered blooms.</p>
            </div>
        </div>
        @*------*Hidden Gallery*-----*@
        <div id="1stDesignExampleDiv" class="d-none" @*style="display:none;"*@>
            <div class="example-div" style="width:70%;margin:auto;">
                <h2 class="pb-4 pt-3 text-center">Examples of The Field Design</h2>
                <div class="d-flex" style="margin-bottom: 2rem;">
@*                    <div style="margin:auto;">            
                      </div>*@
                    <div class="triangle-left"></div>
                    <img class="example-pic" src="~/image/WeddingPiece.JPG"/>
                    <img class="example-pic" src="~/image/MariahGardenPiece.jpg"/>
                    <div class="triangle-right"></div>
                </div>
            </div>
        </div>

        @*---------------*@
        <div class="d-flex px-5 py-4">
            <div class="text-center px-4 w-33">
                <img src="~/image/bouquetStyle.png" style="height:10rem;" />
                <h2 class="pb-4 pt-3">Bouquet Style</h2>
                <p>The <i>Bouquet Style</i> design has stems and blooms starting from a bottom-centered point of the frame and protrudes out like a bouquet. </p>
            </div>
            <div class="text-center px-4 w-33">
                <img src="~/image/laidOut2.png" style="height:10rem;" />
                <h2 class="pb-4 pt-3">Laid Out</h2>
                <p>The <i>Laid Out</i> design shows the details of each bloom and stem as they are laid out close together to cover the enirety of the frame.</p>
            </div>
            <div class="text-center px-4 w-33">
                <img src="~/image/middleClustered.png" style="height:10rem;" />
                <h2 class="pb-4 pt-3">Middle Clustered</h2>
                <p id="frame_type">The <i>Middle Clustered</i> design contains overlapped blooms in the middle of the frame, with stems protruding from the centered blooms to the edges of the frame.</p>
            </div>
        </div>
    </div>
    <hr class="mt-5"/>
    @*-----------Frame Type-------------*@
    <div>
        <div class="text-center my-5">
            <h1 style="font-size:3.2rem;">FRAME TYPE</h1>
            <h4 style="color:#438166;margin-bottom:2.5rem;">Pick a type of piece you would like for your project.</h4>
        </div>
        <div class="d-flex px-5 py-4">
            <div class="text-center px-4 w-50">
                <img src="~/image/16x20standardframe.png" style="height:5.5rem;" />
                <h2 class="pb-4 pt-3">Standard Frame</h2>
                <p>These frames are the standard frames with glass in front of the picture, and cardboard in the back. For standard frame pieces, you may choose to have a white, offwhite, or black background.</p>
            </div>
            <div class="text-center px-4 w-50">
                <img src="~/image/16x20floatframe.png" style="height:5.5rem;" />
                <h2 class="pb-4 pt-3">Float Frame</h2>
                <p id="frame_size">These frames are glass on glass, with no extra backing. For float frames, there is no background color.</p>
            </div>
        </div>
    </div>
    <hr class="mt-5"/>
        @*-----------Frame Size-------------*@
    <div>
        <div class="text-center my-5">
            <h1 style="font-size:3.2rem;">FRAME SIZE</h1>
            <h4 style="color:#438166;margin-bottom:2.5rem;">Pick a type of piece you would like for your project.</h4>
        </div>
        <div class="d-flex px-5 py-4">
            <div class="text-center px-4 w-25">
                <img src="~/image/8x10frame.png" style="height:4.5rem; margin-top:1rem" />
                <h2 class="pb-4 pt-3">8 x 10</h2>
                <p>"Write about the specific piece type and what is possible for the people who want to purchase this piece. 
                    Include anything that is good for them to know off the bat."</p>
            </div>
            <div class="text-center px-4 w-25">
                <img src="~/image/11x14frame.png" style="height:4.5rem; margin-top:1rem" />
                <h2 class="pb-4 pt-3">11 x 14</h2>
                <p>"Write about the specific piece type and what is possible for the people who want to purchase this piece. 
                    Include anything that is good for them to know off the bat."</p>
            </div>
            <div class="text-center px-4 w-25">
              <img src="~/image/12x12frame.png" style="height:5rem; margin-top:0.5rem"/>
                <h2 class="pb-4 pt-3">12 x 12</h2>
                <p>"Write about the specific piece type and what is possible for the people who want to purchase this piece. 
                    Include anything that is good for them to know off the bat."</p>
            </div>
            <div class="text-center px-4 w-25">
                <img src="~/image/16x20frame.png" style="height:5.5rem;" />
                <h2 class="pb-4 pt-3">16 x 20</h2>
                <p>"Write about the specific piece type and what is possible for the people who want to purchase this piece. 
                    Include anything that is good for them to know off the bat."</p>
            </div>
        </div>
    </div>
    <hr class="mt-5"/>
    <div class="d-flex justify-content-center">
        <button class="mr-2">Get a Quote</button>
        <button>Clear Selection</button>
    </div>